    * {
        box-sizing: border-box;
    }
    
    body {
        background-color: white;
        font-size: 24px;
        line-height: 32px;
        font-family: Arial, Helvetica, sans-serif
    }

    .headercontainer {
        height: 250px;
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        margin: 0;
        z-index: 1;
    }

    .footer {
        height: 50px;
        width: 100%;
        background-color: black;
        position: fixed;
        bottom: 0;
        float: bottom;
        z-index: 1;
    }

    #footertext {
        color: white;
        position: absolute;
        font-weight: bold;
        font-size: 20px;
        top: 10px;
        margin: 0;
        text-align: center;
        right: 375px;
        z-index: 2;
        }

    #orangebox {
        height: 50px;
        width: 450px;
        background-color: rgb(255, 81, 0);
        position: absolute;
        z-index: 1;
    }

/* HERO ICON CSS BEGINS HERE */

    #heroicon {
        background-color: black;
        position: absolute;
        height: 200px;
        width: 200px;
        text-align: center;
        top: 25px;
        left: 75px;
        z-index: 2;
    }

    #heroicontext {
        color: white;
        height: 200px;
        width: 200px;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        position: absolute;
        top: 85px;
        margin: 0;
        padding: 0;
        z-index: 2;
    }


/* HERO ICON CSS ENDS HERE */

/* NAVIGATION CSS CODE STARTS HERE */

    nav {
        width: 100%;
        height: 250px;
        position: relative;
    }

    #navicon {
        background-color: white;
        height: 50px;
        width: 28.5px;
        position: absolute;
        top: 100px;
        right: 450px;
        z-index: 1;
    }

    #navicontext {
        height: 50px;
        width: 28.5px;
        font-size: 14px;
        font-weight: bold;
        color: black;
        text-align: center;
        transform: rotate(-90deg);
        position: absolute;
        top: 8px;
        left: 10px;
        margin: 0;
        padding: 0;
        z-index: 2;
    }

    #navbar{ 
        width: 100%;
        height: 50px;
        margin: 0;
        background: repeating-linear-gradient(
        -65deg,
        white 0px,
        white 20px,
        black 20px,
        black 40px 
        );
        position: absolute;
        top: 100px;
    }

    #navbuttons{
        background-color: black;
        position: absolute;
        height: 50px;
        width: 450px;
        margin: 90 auto;
        right: 0;
        top: 100px;
        z-index: 0;
    }
    
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
	    display: inline;
        font-size: 24px;
        font-weight: bold;
        float: right;
    }

    li a {
        color: white;
        text-decoration: none;
        padding: 14px;
        position: relative;
        z-index: 1;
        top: 110px;
        right: 15px;
    }

    /* li a:hover { 
        background-color: rgb(255, 81, 0);
        display: inline-block;
      } */
      
/* NAVIGATION CSS CODE ENDS HERE */
  
    #content {
        background-color: white;
        height: 600px;
        width: 720px;
        margin: auto;
        top: 210px;
        position: relative;
        z-index: 0;
        text-align: left;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
        line-height: 20px;
        position: relative;
        color:black;
        top: 20px;
        bottom: 20px;
        z-index: 0;
    }
    
    /* #pbody {
        color: rgb(255, 81, 0);
        font-weight: bold;
        text-align: justify;
        position: absolute;
        margin: 0;
        top: 50px;
        z-index: 3;
    } */
    
    /* CONTACT CSS CODE BEGINS HERE */

    input[type=text], select, textarea {
        width: 100%; 
        padding: 12px; 
        border: none; 
        border-radius: 0; 
        box-sizing: border-box;
        margin-top: 6px; 
        margin-bottom: 16px;
        resize: vertical;
        font-style: helvetica;
        font-weight: bold;
        background-color: black;
        color: white;
      }
      
      input[type=submit] {
        background-color: black;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: none;
        cursor: pointer;
        font-style: helvetica;
        font-weight: bold;
        margin: 25px 0px 0px 0px;
      }
      
      input[type=submit]:hover {
        background-color: rgb(255, 81, 0);
        font-style: helvetica;
        font-weight: bold;
      }
      
      .container {
        margin: 20px 0px 0px 0px;
        border-radius: 5px;
        padding: 20px;
      }
      
    /* CONTACT CSS ENDS HERE */
